body {
  background-color: #e9ffac;
  font-family: "Arial";
  color: #3138b8;
  padding: 10px;
}

h1 {
  color: #3138b8;
}

ul {
  background-color: #ffffff;
  border-radius: 8px;
}

p {
  width: 300px;
  height: 100px;
}

div {
  width: 250px;
  height: 150px;
}

.pai {
  width: 800px;
}

section {
  width: 100vw;
}

.banner {
  height: 100vw;
}

html {
  font-size: 16px;
}

hatch {
  height: 80px;
}
